#login {
}
.product{
    padding-bottom:20px;
}
.debug {
    border:1px dashed red;
}
.navbar ul li{
  display: inline;
}
.navbar a{
  text-decoration: none;
}
.navbar ul {
  padding-left: 0px;
}
.pull-right {
  float: right;
  right: 0%;
}
.navbar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.post-container{
  margin: 20px;
}
.container{
  margin: 20px;
}
.post-table {
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;

background-color: #eeeeee;
width: 100%;
}
input, table, textarea{
  width: 100%;
}
.button, .checkbox {
  width: auto;
}
.info-table tr{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
tbody{
  width: 100%;
} tr, td, td p{
  width: inherit;
  word-break: break-all;
}
.navbar-container ul, .navbar-container div{
  margin: 10px;
}
.navbar-content {
  position: relative;
}
.navbar-header{
  padding-left: 10px;
  display: inline;
}
body {
  margin: auto;
  max-width: 768px;
}
div.navbar-container{
}
.info-table{
  width: inherit;
}
tr.post-title, tr.post-content, tr.post-info{
  box-shadow: 0 1px 0 #000;
  border: 1px solid black;
}
.post-title td{
  font-size: large;
  font-weight: bold;
}
.post-info-delete{
  width: auto;
}
td.post-info-id{
  width: 15%;
}
td.post-info-timestamp{
  text-align: right;
}
.notification-msg{
  background-color: rgba(0, 255, 0, 0.1);
}
.error-msg{
  background-color: rgba(255, 0, 0, 0.2);
}
#logged-in-as{
  margin-right: 20px;
}
#nav-links li, .pull-right li{
  margin: 10px;
}
